@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Mate+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Jost", sans-serif; }

html {
  font-size: 90%; }

h1, .perso {
  font-size: 1.5em; }

.par {
  font-family: "Besley", serif; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D6E2E9;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: #333; }
  header .navbar-brand,
  header .navbar-nav .nav-link {
    color: #495057; }
  header .navbar-brand:hover,
  header .navbar-nav .nav-link:hover {
    color: #f8f9fa; }

.main-index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #F6F1EB;
  align-items: center;
  min-height: 82vh; }
  .main-index .section-index img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .main-index .testimonial {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; }
    .main-index .testimonial .par {
      font-size: 16px;
      line-height: 1.5;
      text-align: center; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #E9E1D3;
  color: #2E3840;
  font-family: "Jost", sans-serif; }
  .footer .permissions, .footer .social-icons {
    flex: 1;
    text-align: center; }
    .footer .permissions h5, .footer .social-icons h5 {
      margin-bottom: 10px;
      color: #3B88C3;
      /* Cambia el color del título */ }
    .footer .permissions ul, .footer .social-icons ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center; }
      .footer .permissions ul li, .footer .social-icons ul li {
        margin-right: 10px; }
        .footer .permissions ul li a, .footer .social-icons ul li a {
          text-decoration: none;
          color: #666666;
          /* Color de los enlaces */
          transition: color 0.3s ease; }
          .footer .permissions ul li a:hover, .footer .social-icons ul li a:hover {
            color: #3B88C3;
            /* Color al pasar el ratón */ }
          .footer .permissions ul li a i, .footer .social-icons ul li a i {
            margin-right: 5px; }
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
      margin-bottom: 20px; }
      .footer .permissions, .footer .social-icons {
        margin-bottom: 10px; } }

.mai-amigos {
  background-color: #F6F1EB;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "ami1" "ami2" "ami3" "ami4"; }
  .mai-amigos h1, .mai-amigos .perso {
    grid-area: title;
    text-align: center;
    margin: 20px; }
  .mai-amigos article {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; }
    .mai-amigos article img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
    .mai-amigos article h3 {
      position: absolute;
      bottom: 10px;
      left: 0;
      margin: 0;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      box-sizing: border-box; }
  .mai-amigos .ami1 {
    grid-area: ami1; }
  .mai-amigos .ami2 {
    grid-area: ami2; }
  .mai-amigos .ami3 {
    grid-area: ami3; }
  .mai-amigos .ami4 {
    grid-area: ami4; }
  @media (min-width: 768px) {
    .mai-amigos {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "title title" "ami1 ami2" "ami3 ami4"; } }

.mai-contacto {
  background-color: #f6f1eb;
  padding: 10px; }
  .mai-contacto h1, .mai-contacto .perso {
    text-align: center;
    margin: 20px;
    font-size: 2rem; }
  .mai-contacto .iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; }
    .mai-contacto .iframe-container iframe {
      width: 100%;
      max-width: 600px;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .mai-contacto form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    .mai-contacto form .form-group {
      margin-bottom: 20px; }
      .mai-contacto form .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333; }
      .mai-contacto form .form-group input[type="text"],
      .mai-contacto form .form-group input[type="email"],
      .mai-contacto form .form-group textarea {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        transition: border-color 0.3s ease; }
        .mai-contacto form .form-group input[type="text"]:focus,
        .mai-contacto form .form-group input[type="email"]:focus,
        .mai-contacto form .form-group textarea:focus {
          border-color: #007bff; }
      .mai-contacto form .form-group textarea {
        height: 100px; }
    .mai-contacto form button[type="submit"] {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      .mai-contacto form button[type="submit"]:hover {
        background-color: #0056b3; }

.main-nosotros {
  background-color: #F6F1EB;
  padding: 10px; }
  .main-nosotros div img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .main-nosotros img {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .main-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "nos1" "nos2" "nos3" "nos4"; }
    .main-nosotros h1, .main-nosotros .perso {
      grid-area: title;
      text-align: center;
      margin: 10px; }
    .main-nosotros .nos1 {
      grid-area: nos1; }
    .main-nosotros .nos2 {
      grid-area: nos2; }
    .main-nosotros .nos3 {
      grid-area: nos3; }
    .main-nosotros .nos4 {
      grid-area: nos4;
      text-align: center;
      font-size: 18px;
      color: #333;
      margin: 0;
      padding: 20px; }
    @media (min-width: 768px) {
      .main-nosotros {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "title title" "nos1 nos2" "nos3 nos4"; } }

.mai-tienda {
  background-color: #F6F1EB;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "venta1" "venta2" "venta3" "venta4" "venta5" "venta6"; }
  .mai-tienda h1, .mai-tienda .perso {
    grid-area: title;
    text-align: center;
    margin: 20px; }
  .mai-tienda article {
    margin-bottom: 20px;
    background-color: #F6F1EB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    .mai-tienda article img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
    .mai-tienda article.venta1 {
      grid-area: venta1; }
    .mai-tienda article.venta2 {
      grid-area: venta2; }
    .mai-tienda article.venta3 {
      grid-area: venta3; }
    .mai-tienda article.venta4 {
      grid-area: venta4; }
    .mai-tienda article.venta5 {
      grid-area: venta5; }
    .mai-tienda article.venta6 {
      grid-area: venta6; }
  @media (min-width: 768px) {
    .mai-tienda {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "title title title" "venta1 venta2 venta3" "venta4 venta5 venta6"; } }

h1, .perso {
  text-align: center;
  padding: 10px;
  animation: agrandar 2s ease-in-out; }

@keyframes agrandar {
  0% {
    font-size: 1.5em; }
  50% {
    font-size: 2.5em; }
  100% {
    font-size: 1.5em; } }

.perso {
  color: rgba(22, 186, 76, 0.858); }

button {
  background-color: #9ccfed;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  button:hover {
    background-color: #0056b3; }

.carousel-control-prev,
.carousel-control-next {
  background-color: #D6E2E9; }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: #b5cbd7; }

.navbar-toggler {
  border-color: black;
  color: black;
  background-color: transparent;
  /* Cambia el color de fondo al presionar o al posicionar el cursor */ }

.navbar-toggler:focus,
.navbar-toggler:hover {
  border-color: black;
  color: black;
  background-color: transparent; }
