.mai-amigos {
    background-color: #F6F1EB;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "ami1"
        "ami2"
        "ami3"
        "ami4";

    h1 {
        grid-area: title;
        text-align: center;
        margin: 20px;
    }

    article {
        margin-bottom: 20px;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative; // Agregamos posición relativa al contenedor para posicionar el h3
    
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    
        h3 {
            position: absolute; // Establecemos posición absoluta para el h3
            bottom: 10px; // Lo posicionamos 10px desde el borde inferior del contenedor
            left: 0; // Lo posicionamos desde el borde izquierdo del contenedor
            margin: 0; // Quitamos cualquier margen que tenga por defecto el h3
            padding: 5px; // Agregamos un pequeño relleno alrededor del texto
            background-color: rgba(0, 0, 0, 0.5); // Color de fondo semitransparente
            color: #fff; // Color del texto
            font-size: 14px; // Tamaño de fuente
            font-weight: bold; // Peso de la fuente
            text-align: center; // Centramos el texto horizontalmente
            width: 100%; // Ajustamos el ancho del h3 al 100% del contenedor
            box-sizing: border-box; // Incluimos el relleno en el ancho total del elemento
        }
    }
    

    .ami1 {
        grid-area: ami1;
    }

    .ami2 {
        grid-area: ami2;
    }

    .ami3 {
        grid-area: ami3;
    }

    .ami4 {
        grid-area: ami4;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "title title"
            "ami1 ami2"
            "ami3 ami4";
    }
}
