.mai-amigos {
    background-color: #F6F1EB;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "ami1"
        "ami2"
        "ami3"
        "ami4";

    h1 {
        grid-area: title;
        text-align: center;
        margin: 20px;
    }

    article {
        margin-bottom: 20px;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    
        h3 {
            position: absolute; 
            bottom: 10px; 
            left: 0; 
            margin: 0; 
            padding: 5px; 
            background-color: rgba(0, 0, 0, 0.5); 
            color: #fff; 
            font-size: 14px; 
            font-weight: bold; 
            text-align: center; 
            width: 100%; 
            box-sizing: border-box; 
        }
    }
    

    .ami1 {
        grid-area: ami1;
    }

    .ami2 {
        grid-area: ami2;
    }

    .ami3 {
        grid-area: ami3;
    }

    .ami4 {
        grid-area: ami4;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "title title"
            "ami1 ami2"
            "ami3 ami4";
    }
}
