.mai-contacto {
    background-color: #f6f1eb;
    padding: 10px;

    h1 {
        text-align: center;
        margin: 20px;
        font-size: 2rem;
    }

    .iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;

        iframe {
            width: 100%;
            max-width: 600px;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                color: #333;
            }

            input[type="text"],
            input[type="email"],
            textarea {
                width: calc(100% - 20px);
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                transition: border-color 0.3s ease;

                &:focus {
                    border-color: #007bff;
                }
            }

            textarea {
                height: 100px;
            }
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
