
.main-nosotros {
    background-color: #F6F1EB;
    padding: 10px;

    div img {
        width: 100%;
        /* Ajusta el ancho de la imagen al contenedor del artículo */
        height: auto;
        /* Mantiene la proporción de la imagen */
        border-radius: 8px;
        /* Añade bordes redondeados */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Añade una sombra suave */
    }

    img {
        margin-bottom: 20px;
        /* Espacio entre los artículos */
        background-color: #f9f9f9;
        /* Color de fondo para resaltar los artículos */
        padding: 20px;
        /* Espacio interno dentro de los artículos */
        border-radius: 8px;
        /* Bordes redondeados para los artículos */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra suave debajo de los artículos */
    }

    & {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "nos1"
            "nos2"
            "nos3"
            "nos4";
    
        h1 {
            grid-area: title;
            text-align: center; 
            margin: 10px;
        }
    
        .nos1 {
            grid-area: nos1;
        }
    
        .nos2 {
            grid-area: nos2;
        }
    
        .nos3 {
            grid-area: nos3;
        }
    
        .nos4 {
            grid-area: nos4;
            text-align: center; 
            font-size: 18px; 
            color: #333; 
            margin: 0; 
            padding: 20px; 
        }
    
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "title title"
                "nos1 nos2"
                "nos3 nos4";
        }
    }
}