button {
    background-color: #9ccfed;
    color: #fff; // Color del texto del botón
    padding: 10px 20px; // Espaciado interno del botón
    border: none; // Sin borde
    border-radius: 5px; // Borde redondeado
    cursor: pointer; // Cursor de apuntador al pasar por encima
    transition: background-color 0.3s ease; // Transición suave del color de fondo

    &:hover {
        background-color: #0056b3; // Cambia el color de fondo al pasar el cursor sobre el botón
    }
} 

.carousel-control-prev,
.carousel-control-next {
  background-color: #D6E2E9; // Color de fondo deseado
  &:hover {
    background-color: darken(#D6E2E9, 10%); // Cambia el color al pasar el mouse
  }
}
