button {
    background-color: #9ccfed;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; // Cursor de apuntador al pasar por encima
    transition: background-color 0.3s ease; // Transición suave del color de fondo

    &:hover {
        background-color: #0056b3; // Cambia el color de fondo al pasar el cursor sobre el botón
    }
} 

.carousel-control-prev,
.carousel-control-next {
  background-color: #D6E2E9;
  &:hover {
    background-color: darken(#D6E2E9, 10%); // Cambia el color al pasar el mouse
  }
}

.navbar-toggler {
    border-color: black;
    color: black; 
    background-color: transparent; /* Cambia el color de fondo al presionar o al posicionar el cursor */
}

.navbar-toggler:focus,
    .navbar-toggler:hover {
        border-color: black;
        color: black; 
        background-color: transparent; // Cambia el color de fondo al presionar o al posicionar el cursor */
    }