h1 {
    animation: agrandar 2s ease-in-out;
  
    @keyframes agrandar {
        0% {
            font-size: 1.5em; // Tamaño inicial del título
        }
        50% {
            font-size: 2.5em; // Tamaño máximo del título en la mitad de la animación
        }
        100% {
            font-size: 1.5em; // Volver al tamaño original del título
        }
    }
}

