.main-index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color:#F6F1EB;
    align-items: center;
    min-height: 82vh;

    

    .section-index {

        img {
            cursor: pointer;
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);          
        }

    }

    .testimonial {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        .par { font-size: 16px; 
            line-height: 1.5; 
            text-align: center;
        }
    }
}
